@use 'custom' as *;


.company {

    img {
        width: 80px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            width: 60px;
        }
    }

    p {
        font-weight: bold;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

}


.pullit {
    margin-top: 200px;

    @media (max-width: 990px) {
        margin-top: 1000px;
    }
}