@use "custom" as *;
@use "mixin" as *;


.fourpart1{
    display: flex;
    justify-content: start;
    div {
        @include indivisual_div(60%,start);
        @media (max-width: 768px) {
            @include indivisual_div(100%,end);
            margin-top: 20px;
        }
    }
    p{
        font-size: 20px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

}

.fourpart2{
    display: flex;
    justify-content: end;
    div {
        @include indivisual_div(40%,end);

        @media (max-width: 768px) {
            @include indivisual_div(100%,end);
            margin-top: 20px;
        }
    
    }

    // @media (max-width: 576px) { 
    
    // }
    
    
    p{
        font-size: 20px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }


}
