@use 'custom' as *;

@mixin flexBoxes($space) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:$space ;
}

.logowidth{
    width:12%
}

.flex{
    @include flexBoxes(4%)
}

.solid{
    border-bottom: 2px solid $gray-500;
}